<h1>HTML練習</h1>
<hr />

<div>
  <textarea placeholder="我是文字輸入框(可拉大)"></textarea>
</div>
<hr />

<ul>
  <li>
    <input type="text" placeholder="我是文字輸入框" />
  </li>
  <li>
    <input type="checkbox" />
  </li>
</ul>
<hr />

<ol>
  <li>
    <input type="file" />
  </li>
  <li>
    <input type="radio" />
  </li>
</ol>
<hr />

<button>我是按鈕</button>
<hr />

<h1>HTML圖片練習</h1>
<p>可愛的圖片</p>
<img
  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNzmAP8Iqo7PqUxOjHGnJjArLGptRtIUqQX0KRFAMLow&s=10"
/>
<hr />

<table>
  <thead>
    <tr>
      <th>姓名</th>
      <th>數學</th>
      <th>英文</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>小明</td>
      <td>90</td>
      <td>85</td>
    </tr>
    <tr>
      <td>小華</td>
      <td>70</td>
      <td>95</td>
    </tr>
  </tbody>
</table>
