<table>
  <tr>
    <td width="10%" style="padding-left: 20px">
      <br />
      <h2>陳彥伍</h2>
      <p>正在學前端的新手</p>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT148Qau_XDgPqKvuPphsFwVcpvZeUlPJTQ9cL_WX8L0w&s=10"
        width="100"
      />
      <br /><br /><br />

      <h4>關於我</h4>
      <p>全端軟體工程師轉職中</p>
      <br />

      <ul>
        <h4>我的技能</h4>
        <li>JAVA</li>
        <li>HTML</li>
        <li>CSS</li>
      </ul>
    </td>
    <td width="30%">
      <h4>聯絡我</h4>
      <br />
      <label>Email: </label>
      <a href="phantom4v@gmail.com">phantom4v&#64;gmail.com</a>
      <br /><br />
      <label>GitHub： </label>
      <a href="https://github.com/DynastyCoding"
        >https://github.com/DynastyCoding</a
      >
      <br /><br />
      <h4>我的作品</h4>

      <table class="a-table">
        <thead>
          <tr>
            <th>專案名稱</th>
            <th>簡介</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>個人名片網頁</td>
            <td>HTML的第一個作品</td>
          </tr>
          <tr>
            <td>待完成專案</td>
            <td>持續增加中</td>
          </tr>
        </tbody>
      </table>
      <br /><br />

      <h4>留言給我</h4>
      <br />

      <label>姓名： </label>
      <input type="text" />
      <br />

      <label>留言： </label>
      <textarea></textarea>
      <br />

      <button>送出</button>
    </td>
  </tr>
</table>
