<mat-drawer-container class="menu-container" autosize>
  <mat-drawer
    #drawer
    class="menu-sidenav"
    mode="over"
    opened="false"
    (mouseenter)="drawer.open()"
    (mouseleave)="drawer.close()"
  >
    <div class="sidenav-header">
      <mat-icon>apps</mat-icon>
      <span>頁面導覽</span>
    </div>
    <mat-nav-list>
      @for (page of pages; track page.path) {
        <a
          mat-list-item
          [routerLink]="page.path"
          routerLinkActive="active-link"
        >
          {{ page.label }}
        </a>
      }
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary" class="menu-toolbar">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>我的應用程式</span>
      <span class="toolbar-spacer"></span>

      <button mat-icon-button matBadge="3" matBadgeColor="warn">
        <mat-icon>notifications</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <div class="menu-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>個人資料</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>登出</span>
  </button>
</mat-menu>
